/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  background: linear-gradient(to top left, rgb(9, 36, 36), rgb(4, 20, 20));
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

nav img {
  height: 55px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin-left: 20px;
  font-size: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

#hero {
  background: linear-gradient(to top left, rgb(14, 53, 53), rgb(8, 32, 32));
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: crimson;
  font-weight: bold;
}
.hero-content p {
  font-size: 18px;
  line-height: 1.4rem;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background-color: crimson;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
  margin-bottom: 40px;
}

#about {
  background-color: #f9f9f9;
}

.about-content {
  text-align: center;
}
.about-content h2,
.about-content p {
  margin-bottom: 20px;
  line-height: 1.5rem;
}
.about-image img {
  width: 100%;
  height: 450px;
}

#services {
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.service img {
  margin-top: 20px;
  width: 260px;
  height: 260px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.service h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #071d27;
}

.service p {
  line-height: 1.2rem;
}

#contact {
  text-align: center;
  background-color: #127477;
  height: 535px;
}
.container h2 {
  margin-bottom: 60px;
  color: #071d27;
}
form {
  max-width: 400px;
  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  outline: 0;
  border: 0;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  background-color: #f8f9fa;
  color: #0e5e61;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

footer {
  background: linear-gradient(to top left, rgb(9, 36, 36), rgb(4, 20, 20));
  text-align: center;
  margin-bottom: -40px;
}

footer p {
  margin-bottom: 10px;
  color: #ffffff;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* Responsive Styles */

@media all and(max-width: 800px) {
  .container {
    padding: 20px;
  }

  .about-content {
    width: 100%;
  }

  .services {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  form {
    max-width: 300px;
  }
}

@media all and(max-width: 500px) {
  .hero-content h1 {
    font-size: 28px;
  }

  .btn {
    padding: 8px 16px;
  }

  .services {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    flex-wrap: wrap;
  }

  form {
    max-width: 250px;
  }
}
